
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('bundles/shop/css/footer.css') }}">
{% endblock %}

    <!-- Footer -->
    <footer>
        <div class="follow">
            <a class="lien" href="" target="_blank"><img src="{{ asset('bundles/shop/img/icon-twitter2.png') }}" alt="Twitter"/><span>Twitter</span></a>
            <a class="lien" href="" target="_blank"><img src="{{ asset('bundles/shop/img/icon-tumblr.png') }}" alt="Tumblr"/><span>Tumblr</span></a>
            <a class="lien" href="" target="_blank"><img src="{{ asset('bundles/shop/img/icon-linkedin.png') }}" alt="Linkedin"/><span>Linkedin</span></a>
            <a class="lien" href="" target="_blank"><img src="{{ asset('bundles/shop/img/icon-viadeo.png') }}" alt="Viadeo"/><span>Viadeo</span></a>
        </div>
        <ul id="footul">
            <li><a href="{{ path('aviso_legal') }}"><u>Aviso legal</u></a></li>
            <li><a href="{{ path('guia_compras') }}"><u>Guía de compras</u></a></li>
            <li><a href="{{ path('sobre_nosotros') }}"><u>Sobre nosotros</u></a></li>
        </ul>
        <span class="copyright">© 2016 Tanna Moda S.L  Todos los derechos reservados<br>tannamoda@hotmail.com</span>
    </footer>
    <div class="scrollToTop"><a href="#"><img class="img-scroll" src="{{ asset('bundles/shop/img/fleche.jpg') }}"/></a></div>
