
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('bundles/shop/css/footer.css') }}">
{% endblock %}

    <!-- Footer -->
    <footer>
        <div class="follow">
            <a class="lien" href="https://www.facebook.com/Tanna-MODA-128520253927819" target="_blank"><img src="{{ asset('bundles/shop/img/facebook-icon.png') }}" alt="Twitter"/><span>Facebook</span></a>
            <a class="lien" href="https://www.instagram.com/tanna.moda/" target="_blank"><img src="{{ asset('bundles/shop/img/ins-icon.png') }}" alt="Tumblr"/><span>Instagram</span></a>
            <a class="lien" href="https://twitter.com/tannamoda" target="_blank"><img src="{{ asset('bundles/shop/img/icon-twitter2.png') }}" alt="Linkedin"/><span>Twitter</span></a>
        </div>
        <ul id="footul">
            <li><a href="{{ path('aviso_legal') }}"><u>AVISO LEGAL</u></a></li>
            <li><a href="{{ asset('bundles/shop/img/privacidad.pdf') }}" target="_blank"><u>POLÍTICA DE PRIVACIDAD</u></a></li>
            <li><a href="{{ path('guia_compras') }}"><u>GUÍA DE COMPRAS</u></a></li>
            <li><a href="{{ path('sobre_nosotros') }}"><u>SOBRE NOSOTROS</u></a></li>
        </ul>
        <span class="copyright">© 2016 Tanna Moda S.L  Todos los derechos reservados<br>tannamoda@hotmail.com</span>
    </footer>
    <div class="scrollToTop"><a href="#"><img class="img-scroll" src="{{ asset('bundles/shop/img/fleche.jpg') }}"/></a></div>
