{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('bundles/shop/css/header.css') }}">
{% endblock %}

<div class="container">
    <div class="nav">
        <div class="toplogo">
            <a>Bienvenido a tannamoda.com </a>
            {% if userNow is defined and userNow %}
                <a href="" class="">HOLA, {{ userNow.username }}</a>
            {% else %}
                <a href="" class="">iniciar sesión</a>
            {% endif %}
            <a href="" class="">mis favoritos <i class="fa fa-heart-o" aria-hidden="true"></i></a>
            <a href="" class="">Español</a>
        </div>
        <div class="centerlogo">
            <a href="/"><img id="centerlogo" src="{{ asset('bundles/shop/img/logo.png') }}"></a>
        </div>
        <div class="rightlogo">
            <a href="{{ path('shop_cart') }}" class=""><i class="fa fa-shopping-bag"></i> &nbsp;&nbsp;&nbsp;&nbsp;MI CESTA</a>
        </div>
        <div class="menu">
            <ul class="category">
                <li class="nuevo"><a href="">NOVEDADES</a></li>
                <li class=""><a href="{{ path('shop_productList') }}">ABRIGOS</a></li>
                <li class=""><a href="">BOMBEROS</a></li>
                <li class=""><a href="">VESTIDOS</a></li>
                <li class=""><a href="">CAMISAS</a></li>
                <li class=""><a href="">PANTALONES</a></li>
                <li class=""><a href="">SHORTS</a></li>
                <li class=""><a href="">FALDAS</a></li>
            </ul>
            <div id="header_search_wrapper_desktop">
                <div id="header-search" class="skip-content">
                    <form id="search_mini_form" action="" method="get">
                        <div class="form-search">
                            <label for="search"><span class="icon icon-search">Buscar</span></label>
                            <input id="search" type="text" name="q" placeholder=" " value="" class="input-text ff-basic-autocomplete" autocomplete="off">
                            <button type="submit" title="Search" class=""><span><i class="fa fa-search" aria-hidden="true"></i></span></button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <hr class="featurette-divider">
    <br>
</div>
