{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('bundles/shop/css/index.css') }}">
{% endblock %}

{% block body %}

    {% include 'ShopBundle:Public:header.html.twig' %}

    <div class="container">

        <section class="home-block grid2">
            <h4 class="hs1" style="display: none;">NOVEDADES</h4>
            <h1 class="ha1">Última Semana</h1>
            <br>
            <div class="best-picks-wrapper row">
                <div class="col-xs-6 col-md-3">
                    <a href="{{ path('shop_productList', { 'category': 7}) }}">
                        <img src="{{ asset('bundles/shop/img/top1.jpg') }}">
                        <h4 class="hs1">SHORTS</h4>
                    </a>
                </div>
                <div class="col-xs-6 col-md-3">
                    <a href="{{ path('shop_productList', { 'category': 2}) }}">
                        <img src="{{ asset('bundles/shop/img/top2.jpg') }}">
                        <h4 class="hs1">ABRIGOS</h4>
                    </a>
                </div>
                <div class="col-xs-6 col-md-3">
                    <a href="{{ path('shop_productList', { 'category': 10}) }}">
                        <img src="{{ asset('bundles/shop/img/top3.jpg') }}">
                        <h4 class="hs1">JERSEYS</h4>
                    </a>
                </div>
                <div class="col-xs-6 col-md-3">
                    <a href="{{ path('shop_productList', { 'category': 8}) }}">
                        <img src="{{ asset('bundles/shop/img/top4.jpg') }}">
                        <h4 class="hs1">FALDAS</h4>
                    </a>
                </div>
            </div>
        </section>
        <br><br><br><br>
        <div class="row showcase">
            <div class="col-md-6">
                <a href="{{ path('shop_productList_new') }}"><img src="{{ asset('bundles/shop/img/show1.jpg') }}"></a>
            </div>
            <div class="col-md-6">
                <a href="{{ path('shop_productList_new') }}"><img src="{{ asset('bundles/shop/img/show2.jpg') }}"></a>
                <br>
                <hr class="featurette-divider">
                <h1 class="ha1">Mejor Vendido En Tienda</h1>
                <div class="col-md-6">
                    <a href="{{ path('shop_productList_new') }}"><img src="{{ asset('bundles/shop/img/show3.jpg') }}"></a>
                </div>
                <div class="col-md-6">
                    <a href="{{ path('shop_productList_new') }}"><img src="{{ asset('bundles/shop/img/show4.jpg') }}"></a>
                </div>
            </div>
        </div>
        <br><br>
    </div>

    {% include 'ShopBundle:Public:footer.html.twig' %}
{% endblock %}