{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('bundles/shop/css/productdetail.css') }}">
{% endblock %}

{% block body %}

    {% include 'ShopBundle:Public:header.html.twig' %}

    <div class="container">
        <ol class="breadcrumb daohang">
            <li><a href="#">INDEX</a></li>
            <li><a href="#">ABRIGOS</a></li>
            <li class="active">ABRIGO BOTONADURA</li>
        </ol>
        <br><br><br>
        <div class="row">
            <div class="col-md-7 col-lg-7">
                <div class="pageCenter">
                    <div class="thumbnails">
                        <img onmouseover="preview.src=img1.src" name="img1" src="{{ asset('uploads/fotos/5_1.jpg') }}" alt="" />
                        <img onmouseover="preview.src=img2.src" name="img2" src="{{ asset('uploads/fotos/5_2.jpg') }}" alt="" />
                        <img onmouseover="preview.src=img3.src" name="img3" src="{{ asset('uploads/fotos/5_3.jpg') }}" alt="" />
                        <img onmouseover="preview.src=img4.src" name="img4" src="{{ asset('uploads/fotos/5_4.jpg') }}" alt="" />
                    </div>
                    <div class="preview" align="center">
                        <img name="preview" src="{{ asset('uploads/fotos/5_3.jpg') }}" alt="" />
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-md-offset-1 col-lg-4 col-lg-offset-1 purchase-column">
                <section class="product-detail-purchase" data-module="productDetail, productDetailScrollSpy">
                    <h1 class="product-name product-detail-product-name">ABRIGO BOTONADURA</h1>
                    <div class="product-price product-detail-price">
                        <div class="price-column product-detail-price-column">
                            <!-- // BUGFIX GR-3357  PDP - Fix mixed currency signs -->
                            <span id="markedDown_full_Price" class="price">€ 99.95</span>
                        </div>
                    </div>
                    <div class="product-info-wrapper">
                        <div class="style-number-title">
                            Ref: <span> 7635/744</span>
                        </div>
                        <div style="display: none" class="productid">1</div>

                        <div class="product-style-selector">
                            <div class="row" style="text-align: center">
                                    <div class="col-lg-3 col-md-3 col-sm-3">
                                        <label class="_color">
                                            <a class="group" rel="gallery1" href="">
                                                <img src="{{ asset('uploads/fotos/5.jpg') }}" alt="" height="80px" style="border-style: solid;border-width: 2px;border-color: #6b6b6b;">
                                            </a>
                                            <span class="color-description"> NEGRO</span>
                                        </label>
                                    </div>
                            </div>
                        </div>
                        <br>
                        <div class="save-help talla" data-module="tooltip">
                            <div class="selectric">
                                <p class="label">Tallas</p>
                            </div>
                            <div class="guia" style="width: auto;">
                                <div class="size-guide " style="">
                                    <a class="size-guide-link overlay-open" href="">
                                        Guía de Tallas</a>
                                </div>
                            </div>
                            <div class="table-responsive sizetable">
                                <div class="btn-group" id="size-group" data-toggle="buttons">

                                        <label class="btn btn-default" id="" style="width: 100px">
                                            <input type="radio" name="options" id="option" autocomplete="off"> S
                                        </label>
                                    <label class="btn btn-default" id="" style="width: 100px">
                                        <input type="radio" name="options" id="option" autocomplete="off"> M
                                    </label>
                                    <label class="btn btn-default" id="" style="width: 100px">
                                        <input type="radio" name="options" id="option" autocomplete="off"> L
                                    </label>

                                </div>
                            </div>
                            <br><br><br>
                        </div>
                        <button class="shopping-bag-cta add-to-shopping-bag various" type="submit">
                            Añadir a Bolsa de Compras</button>
                        <div class="save-help guardar" data-module="tooltip">
                            <ul>
                                <li>
                                    <a class="save overlay-open main-product" href="" data-save-item="432489ZHZ813215"><i class="fa fa-heart-o" aria-hidden="true"></i> Guardar este artículo</a>
                                </li>

                                <li class="divider"></li>
                                <li>
                                    <a class="help  may-we-help fancybox" href="">¿Necesita ayuda?</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </section>
            </div>


        </div>
    </div>

    {% include 'ShopBundle:Public:footer.html.twig' %}
{% endblock %}